.mainContainer {
    display: grid;
    grid-template-areas: 
        'aside navigator'
        'aside content'
    ;
    gap: 1.5rem;
    margin: 2rem;
}

.asideContainer {
    width: 16rem;
    height: 35rem;
    grid-area: aside;
    box-shadow: 0 0 20px #00000089;
    transition: all 0.3s ease;
}

.asideContainer:hover {
    transform: scale(1.05);
}

.images {
    width: 11%;
    height: 100%;
}

.resume {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    gap: 2rem;
}

.resume > h4 {
    font-weight: 300;
    color: #00000048;
    margin-top: -5px;
}

.socialMedias {
    border-top: #000 solid;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    border-width: 1px;
}

.socialMedias > div{
    width: 2rem;
    height: 2rem;
    border: #000 solid;
    border-radius: 100%;
    border-width: 1.35px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.navigator {
    width: 50rem;
    height: 4.5rem;
    border: solid #fff;
    grid-area: navigator;
    display: grid;
    grid-template-columns: 130px 130px 130px 130px;
    cursor: pointer;
    box-shadow: 0 0 20px #00000089;
    transition: all 0.3s ease;
}

.navigator:hover {
    transform: scale(1.02);
}

.navigator > div {
    border-right: #0000001a solid;
    border-width: 1px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 13px;
    font-weight: 500;
    transition: .2s;
}

.navigator > div:hover {
    border-bottom: solid #1500fc;
    color: #1500fc;
}

#contact {
    border: none;
}

#contact:hover {
    border-bottom: solid #1500fc;
    color: #1500fc;
}

.photo {
    width: 100%;
    height: 65%;
    border-bottom: solid #000;
}

.icons {
    width: 20px;
    height: 100%;
    cursor: pointer;
}

.myPhoto {
    width: 100%;
    height: 100%;
}